<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div th:fragment="footer">

    <div class="container" align="center" style="padding-top:400px">

        <footer>
        <!-- this is footer -->
        © 2019 SIP
            <span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span>
          <div >
           <div th:switch="${userRole}" class="container my-5">
      
           <button th:case="USER" class="btn btn-primary">Ajouter</button>
           <button th:case="ADMIN" class="btn btn-danger">Delete</button>
           </div> 
           
           <div sec:authorize="hasAuthority('ADMIN')" > Has Authority Admin </div> 
            </span>
        </footer>
    </div>

</div>
</body>
</html>
